*{
    font-family: Arial, Helvetica, sans-serif;
}


.contenedor{
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 0.5rem;
}

.titulo{
    color: #EEE;
    font-size: 22px;
	font-weight: bold;
	margin: 5px;
}

.tarjeta{
	width: 150px;
	background-color: #313131;
	color: #EEE;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	box-shadow: 5px 5px 3px rgba(10,10,10,1);
}

.peli-tarjeta{
	width: 140px;
	height: 200px;
	background-color: #313131;
	border-start-start-radius: .2rem;
	border-start-end-radius: .2rem;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: all;
	display: flex;
	align-items: flex-end;
}

.tarjeta:hover {
	box-shadow: 0px 10px 25px rgba(10,10,10,1);
	transform: scale(1.10);
	z-index: 10;
	transition: all;
	transition-duration: 400ms;
}

.peli-poster{
	width: 140px;
	height: auto;
	position: absolute;
	background-size: cover;
}

h2.pelicula-titulo{
	font-size: .8rem;
	line-height: .8rem;
	margin-top: 5px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: initial;
	background-color: #313131;
}

span.pelicula-fecha{
	margin-bottom: 5px;
	font-size: .7rem;
	padding: 4px;
	border-radius: 3px;
	background-image: linear-gradient(to top right, rgba(232, 93, 93,0.6), rgba(240, 128, 128,0.6));
	position: absolute;
}